# Виртуальное окружение
venv/
env/
.venv/

# БД (пересоздадим на новой машине)
db.sqlite3

# Скомпилированные файлы Python
__pycache__/
*.py[cod]
*.pyo

# Файлы IDE и ОС
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Медиафайлы и статика (загруженные пользователями)
media/


# Секретные настройки
.env
*.secret